.modal .modal-body{
	alignment-baseline:central;
}
.modal .modal-body input{
	height:30px;
	width:200px;
}
.myCanvas{
	width:800px; 
	height:1000px;
	border:1px solid #000000;
	z-index: 1; /*레이어 겹칠때 숫자가 클수록 위*/
}
.accordion-body .draggable { 
	padding: 0.5em;
	float: left;
	margin: 10px 10px 10px 0;
	z-index: 2;
}
.color-box {
	float:left;
	width:30px;
	height:30px;
	margin:5px;
	border: 1px solid white;
}
.panel-group .panel-heading a img{
	width: 64px;
	height: 64px;
}

.panel .panel-heading{
	background-color: #FFFFFF;
}
.intro-header .intro-message{
	background: url(../static/img/bg.PNG);
}

#text-H1{
	font-weight : bold;
	font-size: 55px;
	font-family:Times;
} 
#text-H2{
	font-weight : bold;
	font-size: 40px;
	font-family:"Franklin Gothic Medium";
} 
#text-H3{
	font-weight : bold;
	font-size: 35px;
	font-family:Impact;
} 
#text-H4{
	font-weight : bold;
	font-size: 30px;
	font-family:"Script MT Bold";
} 
#text-T1 {
	font-weight : bold;
	font-size: 20px;
	font-family:Tunga;
}
#collapseFive .panel-body #mainlist-text ul{
  list-style-type: none;
}
.color-box{
	z-index: 999;
}

ul {
	list-style: none;
}

.modal-wrapper .wrapper-left .modal-container ul li a{
 background-image: url(../static/img/1396436927_MB__Champions_League.png);
}

.modal-content 
{
	width: 700px;
	height : 500px;
}

.product
{
	width: 50px;
	height: 50px;
}


