{% extends "board_top.html" %}
{% block body %}
{{ super() }}


<div class="container">
<form action="" method="post">   
<div class="row">
	<div class="col-xs-6 col-md-6 col-sm-6">
		<h1 align="left">{{post.subject}}</h1>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-1" align="bottom">
		<br>
	    <h4 class="text-muted page-bottom" align="bottom">
		   	{{post.category}}
	    </h4>
	</div>    	
	<div class="col-xs-5 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
		 <br>
		  <div>
	     <img src="{{set_img(post.author.email)}}" style="height:50px;width:50px;" class="img-circle img-responsive" align="right">
		 </div>
		 <div>
		  <h5 name="email" align="right"> {{post.author.email}} </h5>   
		  <h6 align="right">{{post.created_at.date()}}</h6>	
		 </div> 
	</div>
</div>
<hr>
<div class="row">    
    <div class="col-xs-12 col-md-12 col-sm-12 center-block">
    	<div class="content_body">
    		 {{ post.content|safe }}
    	</div>
    </div>   
</div>	
<div class="row">
	{% if post.author.email==session['user_email'] %}
    <div class="col-xs-12 col-md-12 col-sm-12" align="right">
    <a href="{{url_for('get_modify', id=post.id) }}" align="right">글수정</a>
    <a class="del_body" data-id={{post.id}} align="right">글삭제</a>
	</div>
    {%endif%}	
</div>
</form>
<hr>

<div class="row">	
	<form action="{{ url_for('put_post', id=post.id) }}" method="post">
    <div class="col-xs-12 col-md-12 col-sm-12">
    	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h2 class="modal-title" id="myModalLabel">제안상태변경하기</h2>
	 			  </div>

			      <div class="modal-body">
			      	<div class="btn-group">
			      		<p>상태 </p>
			      		<select id="status" name="status">
							<option value="대기중" >대기중</option>
							<option value="개발예정" >개발예정</option>
							<option value="개발중" >개발중</option>
							<option value="업데이트" >업데이트</option>
							<option value="반려" >반려</option>
						</select>
	            		<div>
	    				<p>의견</p>
	    				<pre><textarea rows="8" cols="50" class="opinion" name="opinion"> </textarea></pre>
	            		</div>
			      	</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-default modify_btn" value="변경완료">
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->     
        <div class="{{set_color(post.status)}}">
        <div class="panel-heading">
			<span>현재 제안서는 {{post.status}} 상태입니다.</span>
			{% if g.user.authority	%}
        	<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">
        	제안상태변경
			</button>
			{% endif %}
       </div>
       <div class="panel-body">
       		<h5 class="string text-muted" >이 제안은 현재 크레이터팀 및 경영팀의 리뷰를 거치지 않았습니다.<br>
        		다른 분들께서 의견을 달아주시면 반영하여 검토하도록 하겠습니다.</h5>
        	{% for comm in post.comments %}
        	{% if comm.section==10%}
        	<h5 class="result">{{comm.user.name}} : {{comm.comment}} </h5> <hr>
        	{% endif %}
        	{% endfor %}
        </div>
        </div>
	</div>
	</form>
    <br/>
    <br/>
    <br/>
    <br/>
   
</div>
  <hr>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Comments</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                	{% for comm in post.comments%}
                	{% if comm.section == 99%}
                    <li class="list-group-item" data-id={{comm.id}}>
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="{{set_img(comm.user.email)}}" class="img-circle img-responsive" style="height:50px;width:50px;"/></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                   	 {{comm.user.email}}
                                    <div class="mic-info">
                                      {{comm.created_at.date()}}  	
                                    </div>
                                </div>
                                <div class="comment-text">
                                     <span id="{{comm.id}}">{{comm.comment}}</span>
                                     <div class='edit_box'>
               						</div>	
                                </div>
                                {% if comm.user.email==session.get('user_email')%}
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs edit" title="Edit">
                                        <span class="glyphicon glyphicon-chevron-down">edit</span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs delete" title="delete">
                                        <span class="glyphicon glyphicon-ok">delete</span>
                                    </button>
             
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">    
<div class="row">
	   	<form action="{{ url_for('add_comm', id=post.id) }}" method="post"> 
		   	<div class="col-xs-12 col-md-12 col-sm-12">
				<div id="addComm">
				  	<br/>              
					<div class="col-xs-1 col-md-1 col-sm-1">
						<img src="{{session.get('gravatar')}}" class="img-circle img-responsive" style="height:50px;width:50px;">
					</div>
					<div class="col-xs-11 col-md-11 col-sm-11" align="left">
						<textarea class="form-control reply" placeholder="Join the discussion" name="reply"> </textarea>
					</div>
				</div>
				
				<div align="right">
					<input type="submit" class="pull-right btn btn-default" value="댓글입력">
				</div>
				<hr>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$('.edit').on('click', function(){
		var data=$(this).closest('li').data('id');
		var str= $('#' + data).text();
		$(this).closest('li').find('.edit_box')
			.html("<form method=post>" +
				"<textarea class='form-control' rows=3 name='comment_modify'>" + str + "</textarea>"
			+ "<button type='button' class='modify_comment'>수정</button>" + "</form>")	
			.find('form');
	});
	
	$(document).on('click', '.modify_comment', function() {
		var id = $(this).closest('li').data('id');
		var $textarea = $(this).parent().find('textarea');
		var result_value =  $(this).parent().find('textarea').val();
		console.log(result_value);
		$.ajax({
			url: {{ url_for('update_comm', id=-1 )|tojson }}.replace('-1', id),
			type: 'PUT',
			data: 'comment_modify=' + result_value
		}).done(function () {
			$('#' + id).html(result_value);
			
		}).always(function() {
			$('.modify_comment').hide();
    		$textarea.hide();
 		 });
	});
</script>

<script type="text/javascript">
		$('.pull-right').on('click', function(e){	
		var data= $('.reply').val();
		var len= data.length;
		if(len < 2)
		{
			alert('댓글을 입력하시오');
			e.preventDefault();	
		}
	});
</script>

<script type="text/javascript">
	$('.delete').on('click', function(){
		var closestUl = $(this).closest('li');
		var del_id= closestUl.data('id');
		var conf = confirm('댓글을 삭제하겠습니까?');
		if(conf)
		{
			$.ajax({
				url: {{ url_for('del_comm', id=-1 )|tojson }}.replace('-1', del_id),
				type: 'DELETE',
				success:function(){
					closestUl.remove();
					alert('댓글이 삭제되었습니다');
				}			
			});
		}
		else
		{
			
		}
	});
</script>

<script type="text/javascript">
	$('.del_body').on('click', function(){
		var del_id = $(this).data('id');
		var conf = confirm('게시물을 삭제하겠습니까?');
		if(conf)
		{
			console.log(del_id);
			$.ajax({
				url: {{ url_for('del_board', id=-1 )|tojson }}.replace('-1', del_id),
				type: 'DELETE',
				success:function(){
					alert('게시물이 삭제되었습니다.');
					window.location.href = document.referrer;	
				}
			});
		}
		else
		{
		}
	});
</script>

<script type="text/javascript">
	$('.modify_btn').on('click', function(e){
		var data=$('.opinion').val();
		var len=data.length;
		console.log(len);
		if(len<2)
		{
			alert('의견을 입력해주세요');		
		}
		
	});
</script>
<script>
	var len=$('.result').length;
	if(len == 0)
	{
		$('.string').show();
	}
	else if (len >=1)
	{
		$('.string').hide();
	}
</script>

{% endblock %}
