{% extends "nav_top.html"%}
{% block body %}
{{super()}}
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            	<img id="img" src="/static/img/1396436927_MB__Champions_League.png">
                        	Pictogram</a>
                        </h4>
			    	</div>
			    	<div id="collapseOne" class="panel-collapse collapse">
			      		<div class="panel-body">
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399317952_battery28.svg" id="img_1" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399317991_glasses2.svg" id="img_2" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318005_international.svg" id="img_3" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318013_airplane1.svg" id="img_4"class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318022_wrench1.svg" id="img_5"class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318028_balance.svg" id="img_6"class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318034_umbrella2.svg" id="img_7"class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318041_silhouette5.svg" id="img_8"class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318052_leaves1.svg" id="img_9" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318061_world7.svg" id="img_10" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318067_desk.svg" id="img_11" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1399318072_connections1.svg" id="img_12" class="product"></button>
			        		</div>
			      		</div>
			    	</div>
		  		</div>
			  	<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            	<img src="/static/img/1396436861_MB__Favs.png">
                        	Icon</a>
                        </h4>
			    	</div>
			    	<div id="collapseTwo" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1398798359_03-twitter.svg" id="img_13" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1398798359_03-twitter.svg" id="img_14" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1398798359_03-twitter.svg" id="img_15"class="product"></button>
			        		</div>
			      		</div>
			    	</div>
		  		</div>
		  		<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            	<img src="/static/img/1396436845_MB__landskape.png">Background</a>
                        </h4>
			    	</div>
			    	<div id="collapseThree" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/black_background_metal_hole-wallpaper-1280x768.jpg" style="width:50px; height: 50px" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/Wood-Pattern-Background.jpg"style="width:50px; height: 50px" class="product"></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button><img src="/static/img/1646623.jpg" style="width:50px; height: 50px" class="product"></button>
			        		</div>
			      		</div>
			    	</div>
		  		</div>
		  		<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            	<img src="/static/img/1396436963_MB__compas.png">Tools</a>
                        </h4>
			    	</div>
			    	<div id="collapseFour" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button id="chart_btn" data-toggle="modal" data-target="#modal-charts"><img src="../static/img/chart.PNG" style="width: 40px;height: 50px"/></button>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<button id="map_btn"><img src="/static/img/map.PNG" style="width: 40px;height: 50px" /></button>
			        		</div>
			      		</div>
			    	</div>
			    	<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            	<img src="/static/img/1396436890_MB__pen.png">
                        	Text</a>
                        </h4>
			    	</div>
			    	<div id="collapseFive" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<ul id="mainlist-text" class="font-list">
								<li id="text-H1" data-oType="text" data-tType="H1"><a>Title</a></li>
								<li id="text-H2" data-oType="text" data-tType="H2"><a>Subtitle</a></li>
								<li id="text-H3" data-oType="text" data-tType="H3"><a>Subtitle 2</a></li>
								<li id="text-H4" data-oType="text" data-tType="H4"><a>Subtitle 3</a></li>
								<li id="text-H5" data-oType="text" data-tType="H5"><a>Body Text</a></li>
							</ul>
			      		</div>
			    	</div>
		  		</div>
		  		</div>
			</div>
		</div>
		
			<div class="col-md-9 col-sm-9 col-xs-12">
				<form action="{{url_for('editor',subject = subject)}}" method="post">
				<h3 name="subject">Subject : {{ subject }}</h3>
				</form>
				<div class="ToolMenu">
					<button type="button" class="canvas_clear_btn">New</button>
					<small>Auto saved at 12:00</small>
					<input class="btn btn-default" type="submit" value="Save">
					<button class="btn btn-default" id="delete_obj_btn">delete</button>
					<div class="color-box"> </div>
					<div id="dialog-confirm"> </div>
				</div>
				<div id="droppable" class="myCanvas" name="content"> 
					<canvas id="canvas" width="800" height="900"> </canvas>
				</div>
			</div>
		
	</div>
</div>

<script>
	$('#delete_obj_btn').hide();
	var canvas = new fabric.Canvas('canvas');
	colors='#000000';
	$('.color-box').colpick({
	colorScheme:'dark',
	layout:'rgbhex',
	color:'ff8800',
	onSubmit:function(hsb,hex,rgb,event) {
		$(event).css('background-color', '#'+ hex);
		$('.color-box').colpickHide();
		colors = '#'+hex;
	}
	}).css('background-color', '#ff8800');
	$("#img_1").click(function(){
		alert(colors);
		var path = new fabric.Path("M32.086,0.515c0.419,1.046,0.04,1.83-0.402,2.751c-0.202,0.419-0.538,0.748-0.671,1.142  c-0.152,0.449-0.18,0.993-0.269,1.477c-0.254,1.369-0.514,2.865-1.409,3.689c-0.743,0.683-2.583,1.234-3.893,1.342  c-4.701,0.38-6.647-1.959-7.781-5.166c-0.342-0.967-0.468-1.982-1.744-1.879c-1.022,0.083-1.068,0.916-1.477,2.146  c-0.88,2.659-2.523,4.704-5.903,4.964c-1.987,0.153-4.418-0.252-5.435-1.207C2.159,8.886,1.821,7.093,1.493,5.48  c-0.12-0.588-0.257-0.84-0.537-1.273C0.825,4.001,0.725,3.829,0.621,3.602C0.25,2.783-0.256,1.937,0.151,0.783  C4.495,0.085,8.373,0.096,12.294,0.85c1.251,0.24,2.521,0.641,3.758,0.671c1.443,0.035,3.188-0.521,4.562-0.805  C24.208-0.024,28.145-0.346,32.086,0.515z");
		canvas.add(path.set({ left: 100, top: 200 ,fill: colors}));
	});
	$("#img_2").click(function(){
		var imgElement = document.getElementById('img_2');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 150,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_3").click(function(){
		var imgElement = document.getElementById('img_3');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 200,
	  	top: 100,
	  	fill : 'red'
		});
		canvas.add(imgInstance);
	});
	$("#img_4").click(function(){
		var imgElement = document.getElementById('img_4');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 250,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_5").click(function(){
		var imgElement = document.getElementById('img_5');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 300,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_6").click(function(){
		var imgElement = document.getElementById('img_6');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 350,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_7").click(function(){
		var imgElement = document.getElementById('img_7');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 400,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_8").click(function(){
		var imgElement = document.getElementById('img_8');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 450,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_9").click(function(){
		var imgElement = document.getElementById('img_9');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 500,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_10").click(function(){
		var imgElement = document.getElementById('img_10');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 550,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_11").click(function(){
		var imgElement = document.getElementById('img_11');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 600,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	$("#img_12").click(function(){
		var imgElement = document.getElementById('img_12');
		var imgInstance = new fabric.Image(imgElement, {
	  	left: 650,
	  	top: 100
		});
		canvas.add(imgInstance);
	});
	
	$('#text-H1').click(function(){
		var text = new fabric.IText("Title Font", {
	  	fontSize: 60,
	  	left:300,
	  	top:50,
	  	fontWeight: 'bold',
	 	});
	  	canvas.add(text);
	});
	$('#text-H2').click(function(){
		var text = new fabric.IText("SubTitle Font", {
	  	fontSize: 35,
	  	left:300,
	  	top:150,
	  	fontWeight: 'normal'
	 	});
	  	canvas.add(text);
	});
	$('#text-H3').click(function(){
		var text = new fabric.IText("Sub Font", {
	  	fontSize: 30,
	  	left:300,
	  	top:200,
	  	fontWeight: 'normal',
	  	fontFamily: 'Impact'
	 	});
	  	canvas.add(text);
	});
	$('#text-H4').click(function(){
		var text = new fabric.IText("Sub Font", {
	  	fontSize: 20,
	  	left:400,
	  	top:250,
	  	fontWeight : 'normal',
	  	fontFamily : 'Script MT Bold'
	 	});
	  	canvas.add(text);
	});
	$('#text-H5').click(function(){
		var text = new fabric.IText("Sub Font", {
	  	fontSize: 15,
	  	left:500,
	  	top:300,
	  	fontWeight: 'normal',
	  	fontFamily : 'Tunga'
	 	});
	  	canvas.add(text);
	});
	
	canvas.on('mouse:down', function(options){
		if (options.target){
			var object = canvas.getActiveObject();
			if(object)
			{
				canvas.renderAll();
			}
			$('#delete_obj_btn').show();
	  	}
	  	else{
	  			$('#delete_obj_btn').hide();
	  		}
	  	$('#delete_obj_btn').click(function(){
	  		var activeObject = canvas.getActiveObject();
		    if (activeObject){
		        canvas.remove(activeObject);
		    }
			canvas.renderAll();
	  	});
	});
	 $('.canvas_clear_btn').click(NewInfographic);   //new button
        function NewInfographic(){
       	$("#dialog-confirm").html("이전의 내용이 모두 없어집니다.");
   		$('#dialog-confirm').dialog({	
        	resizable: false,
	        modal: true,
	        title: "New Infographic",
	        height: 180,
	        width: 300,
	        buttons: {
	            "Yes": function(){
	            	canvas.clear();
	                $(this).dialog('close');
	                callback(true);
	            },
	            "No": function(){
	                $(this).dialog('close');
	                callback(false);
	            }
	        }
	    });
	    function callback(value) {
		    if (value) {
		        alert("새로운 인포그래픽입니다.");
		    } else {
		        alert("취소되었습니다.");
		    }
		}
	}

	
	('#img_1').fillColor = "#FF0000";
	canvas.renderAll();
</script>

<script type="text/javascript">
	canvas.on('mouse:down', function(options){
		if (options.target){
			var object = canvas.getActiveObject();
			if(object)
			{
				canvas.renderAll();
			}
			$('.color-box').show();
			canvas.selectionColor(object) = red;
	  	}
	  	else
		{
			$('.color-box').hide();
		}
	});
	
	
</script>

{% endblock %}
