<!DOCTYPE html>
<html>
	<head>
		{% block metas %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% endblock metas %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/style.css')}}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/bootstrap.css')}}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/bootstrap-theme.css')}}">
		
		<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.10.2.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/modal.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/button.js')}}"></script>
	</head>
	<body>
		{% block body %} {% endblock %}
	</body>
</html>