{% extends "nav_top.html" %}
{% block body %}
{{ super() }}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
{% if not is_authenticated %}
<form action="{{url_for('login')}}" method="post">
	<div class="row">
		<div class="container">
			<div class="col-md-4 col-sm-4">
			<p> 로그인 </p>
			<input type="text" class="form-control" name="login_email" placeholder="id"/>
			<br/>
			<input type="password" class="form-control" name="login_pwd" placeholder="password"/>
			<br/>
			<input type="submit" class="btn btn-primary" value="로그인" />
			</div>
		</div>
	</div>
</form>
{% endif %}
{% endblock%}
