{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
      </button>
      <a class="navbar-brand" href="#">InfoGraphics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('index')}}">Home</a></li>
      	<li><a href="{{url_for('editor')}}">Editor</a></li>
      	<li><a href="{{url_for('savedInfo')}}">saved infographics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li>
      		<button class="btn btn-primary" data-toggle="modal" data-target="#signModal">SignUp</button>
      	</li>
       	<li>
       		<form action="{{url_for('login_page')}}">
       		<input type="submit" class="btn btn-primary" value="Login" />
       		</form>
		</li>
		<li>
			<button class="btn btn-danger"><a href="{{url_for('logout')}}">Logout</a></button>
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->

   
   	<div class="col-md-12 col-xs-12 col-sm-12">
   	  <form action="{{ url_for('signup') }}" class="form-horizontal" method="post">
		    <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Create your account!!</h4>
			      </div>
			      
			      <div class="modal-body">
			     	<input type="email" name="email" class="form-control" placeholder="Email Address">
			     	<br/>
			     	<input type="text" name="name" class="form-control" placeholder="Name">
			     	<br/>
			     	<input type="password" name="password" class="form-control" placeholder="Password">
			     	<br/>
			     	<input type="password" name="password2" class="form-control" placeholder="Confirm Password">
			      </div>
			      <div class="modal-footer">
			        <input type="submit" class="btn btn-primary create_account_btn" value="Create Account">
			      </div>
			    </div>
			  </div>
			</div><!-- /.modal-->
		</form>
	</div>
	
  </div><!-- /.container-->
</nav>


{% endblock %}
