{% extends "nav_top.html"%}
{% block body %}

<div id="wrapper">
	<div id="options">
		<div id="drag1" class="drag ui-draggable">
			a
		</div>
		<div id="drag2" class="drag ui-draggable">b
		</div>
		<div id="drag3" class="drag ui-draggable">c	
		</div>
		<div id="drag4" class="drag ui-draggable">d
		</div>
		<div id="drag5" class="drag ui-draggable">e
		</div>
		<div id="drag6" class="drag ui-draggable">f
		</div>
	</div>
	<div class="ui-droppable" id="frame">
		<span id="title">
			<h2>what do you know?</h2>
		</span>
		<table id="tbldevs" border="1">
			<thead>
			<tr>
				<th>
					<span id="names">
						john
					</span>
				</th>
				<th>
					<span id="names">
						john
					</span>
				</th>
				<th>
					<span id="names">
						john
					</span>
				</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td> </td>
				</tr>
				<tr>
					<td> </td>
				</tr>
				<tr>
					<td> </td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		counter =0;
		$('.drag').draggable({
			helper:'clone',
			stop: function(ev, ui){
				var pos = $(ui.helper).offset();
				objName.css({
					"left":pos.left,
					"top": pos.top
				});
				$(objName).draggable({
					containment: 'parent',
					stop : function(ev , ui){
						var pos = $(ui.helper).offset();
						console.log($(this).attr("id"));
						console.log(pos.left);
						console.log(pos.top);
					}
				});
			}
		});
		$('#myCanvas').droppable({
			drop: function(ev, ui){
				if (ui.helper.attr('id').search(/drag[0-9]/)!= -1)
				{
					counter++;
					var element=$(ui.draggable).clone();
					element.addClass=("tempclass");
					$(this).append(element);
					$('.tempclass').attr("id", "clonediv"+counter);
					$('#clonediv'+counter).removeClass("tempclass");
					draggedNumber=ui.helper.attr('id').search(/drag[0-9]/);
					itemDragged="dragged"+RegExp.$1;
					console.log(itemDragged);
					$('#clonediv'+counter).addClass(itemDragged);
					
					
				}
			}
		});
	});
</script>

{% endblock %}
