{% extends "nav_top.html"%}
{% block body %}
{{super()}}
    <canvas id="canvas" width="300" height="300"> </canvas>
	<style>
		 canvas {
            border:1px solid red;
        }
	</style>
	<script type="text/javascript">
		var canvas;
		var ctx;
		var canvasOffset;
		var offsetX;
		var offsetY;
		
		canvas = document.getElementById("canvas");
		ctx = canvas.getContext("2d");
		
		canvasOffset = $('#canvas').offset();
		offsetX = canvasOffset.left;
		offsetY = canvasOffset.top;
		
		$("#canvas").on('mousedown', function(event){
			handleMouseDown(event);
		});
		
		var isDrawing = false;
		var startX;
		var startY;
		
		function handleMouseDown(event){
			var mouseX = parseInt(event.clientX - offsetX);
			var mouseY = parseInt(event.clientY - offsetY);
			
			if(!isDrawing)
			{
				canvas.style.cursor = "crosshair";
				startX = mouseX;
				startY = mouseY;
			}
			else{
				ctx.rect(startX, startY, mouseX - startX, mouseY - startY);
				ctx.stroke();
				canvas.style.cursor = "default";
			}
			isDrawing = !isDrawing;
		}
	</script>
{% endblock %}
