{% extends "nav_top.html"%}
{% block body %}
{{super()}}
<div class="container">
<div class="row">
	<div class="col-xs-12 col-md-12 col-sm-12">
	<div class="modal modal-wide fade modal-tools in" id="modal-charts" tabindex="-1" role="dialog" aria-labelledby="chart-btn" aria-hidden="false" style="display: block;">
		<div class="modal-dialog">
			<div class="modal-content"> <!-- 모달 전체 -->
				<div class="col-xs-12 col-md-12 col-sm-12"> <!-- 모달 탑 -->
					<div class="modal-title">
						<input id="chart-title" type="text" placeholder="Chart Title" style="display: inline;">			
						<input id="chart-x-axis" type="text" placeholder="X-Axis Title" style="display: inline;">			
						<input id="chart-y-axis" type="text" placeholder="Y-Axis Title" style="display: inline;">
						<button class="btn btn-primary" id="insert_btn" style="display: inline"> Insert </button> 
					</div>
				</div>
				<!-- 모달 왼쪽 부분 -->
				<div class="modal-wrapper clearfix">
					<div class="col-xs-6 col-md-6 col-sm-6">
						<section class="wrapper-left">
							<div class="modal-container modal-container-chart" id="v-nav">
								<div class="col-xs-2 col-md-2 col-sm-2">
								<ul class="panel-tab">
									<li id="tab-vbar" tab="vbar" class="tab-vbar current" data-toggle="tab" href="#vbar-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-vbar ttips" data-placement="right" data-toggle="tooltip" href="#vbar-chart-big-icon" title="" data-original-title="Vertical Bar">
		                  					<img class="icon-chartVbar"  src="../static/img/1399403359_chart-bar-outline.png"> 
		                				</a>
									</li>
									<li id="tab-triangle" tab="triangle" class="tab-triangle" data-toggle="tab" href="#triangle-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-triangle ttips" data-placement="right" data-toggle="tooltip" href="#triangle-chart-big-icon" title="" data-original-title="Triangle Bar">
		                  					<img class="icon-chartTriangle" src="../static/img/1399403448_519685-192_FormTriangleBorder.png"> 
		                				</a>
									</li>
									<li id="tab-hbar" tab="hbar" class="tab-hbar" data-toggle="tab" href="#hbar-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-hbar ttips" data-placement="right" data-toggle="tooltip" title="" data-original-title="Horizontal Bar">
		                  					<img class="icon-chartHbar" src="../static/img/1399403359_chart-bar-outline.png"> 
		                				</a>
									</li>
									<li id="tab-line" tab="line" class="tab-line" data-toggle="tab" href="#line-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-line ttips" data-placement="right" data-toggle="tooltip" title="" data-original-title="Line">
		                  					<img class="icon-chartLine" src="../static/img/1399403342_chart-line-outline.png"> 
		                				</a>
									</li>
									<li id="tab-area" tab="area" class="tab-area" data-toggle="tab" href="#area-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-area ttips" data-placement="right" data-toggle="tooltip" title="" data-original-title="Area">
		                  					<img class="icon-chartArea" src="../static/img/1399403372_chart-area-outline.png"> 
		                				</a>
									</li>
									<li id="tab-dot" tab="dot" class="tab-dot" data-toggle="tab" href="#dot-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-dot ttips" data-placement="right" data-toggle="tooltip" title="" data-original-title="Dot">
		                  					<img class="icon-chartDot" src="../static/img/1399403359_chart-bar-outline.png"> 
		                				</a>
									</li>
									<li id="tab-pie" tab="pie" class="tab-pie" data-toggle="tab" href="#pie-chart-big-icon" style="display: block; cursor: pointer;">
										<a class="chart-icon-pie ttips" data-placement="right" data-toggle="tooltip" title="" data-original-title="Pie">
		                  					<img class="icon-chartPie" src="../static/img/1399403399_chart-pie-outline.png"> 
		                				</a>
									</li>
								</ul>
								</div>
								<div class="col-xs-10 col-md-10 col-sm-10">
									<div class="tab-content modal-title-update"> <!--모달 클릭한 아이템-->
							              <div id="vbar-chart-big-icon" class="tab-pane active">
							                <i class="icon-chartVbarW">a</i>
							              </div>
							              <div id="triangle-chart-big-icon" class="tab-pane">
							                <i class="icon-chartTriangleW">b</i>
							              </div>
							              <div id="hbar-chart-big-icon" class="tab-pane">
							                <i class="icon-chartHbarW"> </i>
							              </div>
							              <div id="line-chart-big-icon" class="tab-pane">
							                <i class="icon-chartLineW"> </i>
							              </div>
							              <div id="area-chart-big-icon" class="tab-pane">
							                <i class="icon-chartAreaW"> </i>
							              </div>
							              <div id="dot-chart-big-icon" class="tab-pane">
							                <i class="icon-chartDotW"> </i>
							              </div>
							              <div id="pie-chart-big-icon" class="tab-pane">
							                <i class="icon-chartPieW"> </i>
							              </div>
							            </div>
						         </div>
							</div>
						</section>
					</div>
					<!-- 모달 왼쪽부분 끝-->
					
					 <!-- 모달 오른쪽부분  -->
					<div class="col-xs-6 col-md-6 col-sm-6">
					<section class="wrapper-data" id="wrapper-data">
						<div class="tab-content-data-slider">
							<div class="tabbable data-tab-top clearfix">
								<ul class="nav nav-tabs pull-left">
									<li class="active">
										<a data-toggle="tab" href="#data" class="active">
						                    <img class="icon-chartData" id="pie-chart">Data
						                </a>
									</li>
									<li>
					                  <a data-toggle="tab" href="#d-data">
					                    <img class="icon-chartDynamic">Dynamic Data
					                  </a>
					                </li>
					                <li>
					                  <a data-toggle="tab" href="#charts-advanced">
					                    <img class="icon-advsetting">Settings
					                  </a>
					                </li>
								</ul>
							</div>
							<div class="tab-content">  <!-- 모달오른쪽부분 누르면 나오는 곳  -->
							    <div id="data" class="tab-pane active">
							      <h4> </h4>
							    </div>
							    <div id="d-data" class="tab-pane">
							    <h4> </h4>
							    </div>
							    <div id="charts-advanced" class="tab-pane">
							      <h4> </h4>
							    </div>
						    </div><!-- /.tab-content -->
						</div>
					</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</div>

	<script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['table', 'columnchart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        var dataTable = google.visualization.arrayToDataTable([
          ['Name',   'Age', 'Instrument', 'Color'],
          ['John',   24,     'Guitar',    'Blue'],
          ['Paul',   52,     'Sitar',     'Red'],
          ['George', 16,     'Guitar',    'Green'],
          ['Ringo',  72,     'Drums',     'White']
        ]);
      
        var table = new google.visualization.Table(document.getElementById('data'));
        table.draw(dataTable, null);
      
        var dataView = new google.visualization.DataView(dataTable);
        dataView.setColumns([0, 1]);
      
        var chart = new google.visualization.ColumnChart(document.getElementById('vbar-chart-big-icon'));
        chart.draw(dataView, {width: 400, height: 200});
      }
      google.setOnLoadCallback(drawVisualization);
      
{% endblock %}
