{% extends "nav_top.html"%}
{% block body %}
{{super()}}
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            	<img src="/static/img/1396436927_MB__Champions_League.png">
                        	Pictogram</a>
                        </h4>
			    	</div>
			    	<div id="collapseOne" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<?xml version="1.0" ?>
								<!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
								<svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<path id="img_twitter" d="M52.837,15.065c-1.811,0.805-3.76,1.348-5.805,1.591c2.088-1.25,3.689-3.23,4.444-5.592c-1.953,1.159-4.115,2-6.418,2.454  c-1.843-1.964-4.47-3.192-7.377-3.192c-5.581,0-10.106,4.525-10.106,10.107c0,0.791,0.089,1.562,0.262,2.303  c-8.4-0.422-15.848-4.445-20.833-10.56c-0.87,1.492-1.368,3.228-1.368,5.082c0,3.506,1.784,6.6,4.496,8.412  c-1.656-0.053-3.215-0.508-4.578-1.265c-0.001,0.042-0.001,0.085-0.001,0.128c0,4.896,3.484,8.98,8.108,9.91  c-0.848,0.23-1.741,0.354-2.663,0.354c-0.652,0-1.285-0.063-1.902-0.182c1.287,4.015,5.019,6.938,9.441,7.019  c-3.459,2.711-7.816,4.327-12.552,4.327c-0.815,0-1.62-0.048-2.411-0.142c4.474,2.869,9.786,4.541,15.493,4.541  c18.591,0,28.756-15.4,28.756-28.756c0-0.438-0.009-0.875-0.028-1.309C49.769,18.873,51.483,17.092,52.837,15.065z"/>
								</svg>
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			      		</div>
			    	</div>
		  		</div>
			  	<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            	<img src="/static/img/1396436861_MB__Favs.png">
                        	Icon</a>
                        </h4>
			    	</div>
			    	<div id="collapseTwo" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			      		</div>
			    	</div>
		  		</div>
		  		<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            	<img src="/static/img/1396436845_MB__landskape.png">
                        	Background</a>
                        </h4>
			    	</div>
			    	<div id="collapseThree" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg"class="product">
			        		</div>
			      		</div>
			    	</div>
		  		</div>
		  		<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            	<img src="/static/img/1396436963_MB__compas.png">
                        	Graph</a>
                        </h4>
			    	</div>
			    	<div id="collapseFour" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			        		<div class="col-md-4 col-sm-4 col-xs-6 draggable">
			        			<img src="/static/img/1398798359_03-twitter.svg" class="product">
			        		</div>
			      		</div>
			    	</div>
			    	<div class="panel panel-default">
			    	<div class="panel-heading">
			    		 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            	<img src="/static/img/1396436890_MB__pen.png">
                        	Text</a>
                        </h4>
			    	</div>
			    	<div id="collapseFive" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<ul id="mainlist-text" class="font-list">
								<li id="text-H1" data-oType="text" data-tType="H1" class="text_drag"><a>Title</a></li>
								<li id="text-H2" data-oType="text" data-tType="H2" class="text_drag"><a>Subtitle</a></li>
								<li id="text-H3" data-oType="text" data-tType="H3" class="text_drag"><a>Subtitle 2</a></li>
								<li id="text-H4" data-oType="text" data-tType="H4" class="text_drag"><a>Subtitle 3</a></li>
								<li id="text-T1" data-oType="text" data-tType="T1" class="text_drag"><a>Body Text</a></li>
							</ul>
			      		</div>
			    	</div>
		  		</div>
		  		</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="ToolMenu">
				<button type="button">New</button>
				<small>Auto saved at 12:00</small>
				<button type="button">Save</button>
				<div class="color-box"> </div>
			</div>
				
			<div class="ToolCanvas">
				<div id="droppable" class="myCanvas"> </div>	
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">
			
			
		</div>
	</div>
</div>

<script type="text/javascript">
$(function(){
	var counts =[0];
	var $text_H1 = $('<textarea>Title</textarea>',{id:'h1',class:'text-'+counts[0]});
	var $text_H2 = $('<textarea>SubTitle</textarea>',{id:'h2',class:'text-'+counts[0]});
	var $text_H3 = $('<textarea>SubTitle2</textarea>',{id:'h3',class:'text-'+counts[0]});
	var $text_H4 = $('<textarea>SubTitle3</textarea>',{id:'h4',class:'text-'+counts[0]});
	var $text_T1 = $('<textarea>Body Text</textarea>',{id:'t1',class:'text-'+counts[0]});
	$('#text-H1').click(function(){
		$('#droppable').append($text_H1);
		$('.text-'+counts[0]).attr('font-size',50);
		counts[0]++;
	});
	$('#text-H2').click(function(){
		$('#droppable').append($text_H2);
	});
	$('#text-H3').click(function(){
		$('#droppable').append($text_H3);
	});
	$('#text-H4').click(function(){
		$('#droppable').append($text_H4);
	});
	$('#text-T1').click(function(){
		$('#droppable').append($text_T1);
	});
});
</script>

<script type="text/javascript">
$(function(){
	var counts = [0];
	var resizeOpts = { handles : "all", autoHide: false};
	$('.draggable').draggable({
		helper :'clone',
		start: function(){
		counts[0]++;
		}
	});
	$('#droppable').droppable({
		accept :'.draggable',
		drop: handleDropEvent
		});
		 
		function handleDropEvent(event, ui)
		{
			if(ui.draggable.hasClass("draggable"))
			{
				$(this).append($(ui.helper).clone());
				$("#droppable .draggable").addClass("item-"+ counts[0]);
				$("#droppable img").addClass("imgSize-"+ counts[0]);
				$("#droppable .item-"+ counts[0]).removeClass("draggable ui-draggable ui-draggable-dragging");
			
				$(".item-"+counts[0]).dblclick(function() {
					$(this).remove();
				});
			
				make_draggable($(".item-"+counts[0])); 
                $(".imgSize-"+counts[0]).resizable(resizeOpts);
			}
		}
	});
	var zIndex=0;
	function make_draggable(elements)
	{
		elements.draggable({
			containment : 'parent',
			start : function(event, ui){
					ui.helper.css('z-index', ++zIndex); },
			stop :function(event, ui){}
		});	
	}
	 
</script>

<script type="text/javascript">
	$('.color-box').colpick({
	colorScheme:'dark',
	layout:'rgbhex',
	color:'ff8800',
	onSubmit:function(hsb,hex,rgb,event) {
		$(event).css('background-color', '#'+ hex);
		$(event).colpickHide();
	}
})
.css('background-color', '#ff8800');
</script>

{% endblock %}
