{% extends "nav_top.html"%}
{% block body %}
{{super()}}
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
			    	<div class="accordion-heading">
			      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        			<img src="/static/img/1396436927_MB__Champions_League.png">
		        			<p>Pictogram</p>
			      		</a>
			    	</div>
			    	<div id="collapseOne" class="accordion-body collapse">
			      		<div class="accordion-inner">
			      			<div class="col-md-4 draggable">
			        			<img src="/static/img/1395953987_tokyo.svg">
			        			<p>Pictogram</p>
			        		</div>
			        		<div class="col-md-4 draggable">
			        			<img src="/static/img/1395953987_tokyo.svg">
			        		</div>
			        		<div class="col-md-4 draggable">
			        			<img src="/static/img/1395953987_tokyo.svg">
			        		</div>
			      		</div>
			    	</div>
		  		</div>
			  	<div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				      	 <img src="/static/img/1396436861_MB__Favs.png">
				      	 <br/>
				      	 <small>Icon</small>
				      </a>
				    </div>
				    <div id="collapseTwo" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Anim pariatur cliche...
				      </div>
				    </div>
			  	</div>
			  	<div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				      	 <img src="/static/img/1396436845_MB__landskape.png">
				      	 <br/>
				      	 <small>Background</small>
				      </a>
				    </div>
				    <div id="collapseThree" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Anim pariatur cliche...
				      </div>
				    </div>
			  	</div>
			  	<div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				      	 <img src="/static/img/1396436963_MB__compas.png">
				      	 <br/>
				      	 <small>Graph</small>
				      </a>
				    </div>
				    <div id="collapseFour" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Anim pariatur cliche...
				      </div>
				    </div>
			  	</div>
			  	<div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
				      	 <img src="/static/img/1396436890_MB__pen.png">
				      	 <br/>
				      	 <small>Text</small>
				      </a>
				    </div>
				    <div id="collapseFive" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Anim pariatur cliche...
				      </div>
				    </div>
			  	</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="ToolMenu">
				<button type="button">New</button>
				<small>Auto saved at 12:00</small>
				<button type="button">Save</button>
			</div>
			<div class="ToolCanvas">
				<div id="myCanvas" class="droppable">
				</div>	
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">
			
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		counter =0;
		$('.draggable').draggable({
			helper:'clone',
			stop: function(ev, ui){
				var pos = $(ui.helper).offset();
				objName.css({
					"left":pos.left,
					"top": pos.top,
				});
				$(objName).draggable({
					containment: 'myCanvas',
					stop : function(ev , ui){
						var top = ui.position.top; 
    					var left = ui.position.left;
						var pos = $(ui.helper).offset();
						console.log($(this).attr("id"));
						console.log(pos.left);
						console.log(pos.top);
					}
				});
			}
		});
		$('#myCanvas').droppable({
			drop: function(ev, ui){
				accept:'myCanvas';
				if (ui.helper.attr('id').search(draggable)!= -1)
				{
					counter++;
					var element =$(ui.draggable).clone();
					element.addClass=("tempclass");
					$(this).append(element);
					$('.tempclass').attr("id", "clonediv" + counter);
					$('#clonediv'+ counter).removeClass("tempclass");
					draggedNumber = ui.helper.attr('id').search(draggable);
					itemDragged = "dragged" + RegExp.$1;
					console.log(itemDragged);
					$('#clonediv'+counter).addClass(itemDragged);
				}
			}
		});
	});
</script>
{% endblock %}
